<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <title>Inlägg</title>
</head>

<body>
    <h1>Skapa ett inlägg</h1>
    <form action="/posts" method="POST">
        <div>
            <label for="content">Inlägg:</label>
            <textarea id="content" name="content" required></textarea>
        </div>
        <button type="submit">Skicka</button>
    </form>

    <h1>{{title}}</h1>
    <h2>Tidigare inlägg</h2>
    {{#if posts.length}}
    <ul>
        {{#each posts}}
        <li>{{this.username}}: {{this.content}} <small>( {{this.time}})</small></li>
        {{/each}}
    </ul>
    {{else}}
    <p>Inga inlägg att visa</p>
    {{/if}}
    <a href="/users">Ditt konto</a>

</body>

</html>
