<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <h1>{{title}}</h1>
    <p>Välkommen, {{username}}!</p>

    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}

    <h2>Ändra användarnamn</h2>
    <form action="/change-username" method="POST">
        <input type="text" name="newUsername" placeholder="Nytt användarnamn">
        <button type="submit">Ändra användarnamn</button>
    </form>

    <h2>Ändra lösenord</h2>
    <form action="/change-password" method="POST">
        <input type="password" name="newPassword" placeholder="Nytt lösenord">
        <button type="submit">Ändra lösenord</button>
    </form>

    <h1>Dina tidigare kommentarer:</h1>
    {{#if comments.length}}
    <ul>
        {{#each comments}}
        <li>
            <strong>{{this.username}}</strong>: {{this.comment}} <br>
            <small>Postad i thread:{{this.postId}} {{this.created_at}}</small>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>Du har inte postat något.</p>
    {{/if}}
    <a href="/threads">Tillbaka till inlägg</a>

    <form action="/logout" method="POST" style="margin-top: 20px;">
        <button type="submit">Logga ut</button>
    </form>
</body>

</html>
